html body {
    background-color: black;
    /*background-image: url(image/photo-profile.svg);*/
    background-repeat:no-repeat;
    background-position: top;
    height: 100vh;
    width: 100%;
    max-width: 1200px;    
}

h1 {
    color: white;
}

h2 {
    color: white;
}
h3 {
    color: white;
    border: 2px solid  white;
    border-image: linear-gradient(90deg, rgba(102,36,131,1) 0%, rgba(46,98,172,1) 37%, rgba(54,169,225,1) 100%);
    border-image-slice: 1;
    width: 30%;
    text-align: center;   
}

p{
    color: white;
    text-align: justify;
}

button{
    background: rgb(102,36,131);
    background: linear-gradient(90deg, rgba(102,36,131,1) 0%, rgba(46,98,172,1) 37%, rgba(54,169,225,1) 100%);
    border-radius: 35%;
    
}
li{
    color: white;
}
a {
    color: white;
    
  }

.container {
    display: grid;
    grid-template-columns: repeat ( 3, 1fr);
    grid-template-rows: repeat (10, 1fr );
}

.header{
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    background: rgb(102,36,131);
    background: linear-gradient(90deg, rgba(102,36,131,1) 0%, rgba(46,98,172,1) 37%, rgba(54,169,225,1) 100%);
    padding: 1%;
    width: 100%;
    margin-bottom: 3%;
    }
    .item-navigation {
        display: inline-block;
        width: 150px;
        height: 10px;
        line-height: 25px;
        text-align: center;
    }

.dev-web{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3;

}

.portrait{
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;

}

.designer-graphiste{
   
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 3;
}
.recruter{
    
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 4;
}

.langage{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 5;
}
.image-ordi{
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}
.logiciel{
    
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 5;
}

.Framework{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 6;
}
.cms{
    
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 6;
}
#sait-faire{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 7;
}



/*-----------------------------------------Ce que je sais faire-----------------------------------------------*/
#make {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.icone {
    width: 150px;
    height: 150px;
}
.boite {
    border: 2px solid  white;
    margin: 2%;
    padding: 2%;
    height: 300px;
    width: 300px;
    border-image: linear-gradient(90deg, rgba(102,36,131,1) 0%, rgba(46,98,172,1) 37%, rgba(54,169,225,1) 100%);
    border-image-slice: 1;
    

}
/*-----------------------------------------footer-----------------------------------------------*/

footer {
    background: rgb(102,36,131);
    background: linear-gradient(90deg, rgba(102,36,131,1) 0%, rgba(46,98,172,1) 37%, rgba(54,169,225,1) 100%);

}
